.about-us {
  padding: 0 30px;
  margin-bottom: 55px;
}

.about-us__title {
  margin-bottom: 32px;
  font-size: 25px;
  line-height: 30px;
  word-wrap: break-word;
}

.about-us__list {
  @include list-reset;
}

.about-us__item {
  position: relative;
  padding-top: 55px;
  margin-bottom: 28px;
  word-wrap: break-word;
  background-repeat: no-repeat;

  &--materials {
    width: 190px;
  }

  &--style,
  &--likes,
  &--packaging {
    width: 200px;
  }

  &--handmade {
    width: 210px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
  }

  &--materials::before {
    left: 6px;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--style::before {
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    top: 3px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    top: 2px;
    left: 0;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--packaging::before {
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding: 0 50px;
    margin-bottom: 0;
  }

  .about-us__title {
    margin: 0;
    margin-bottom: 48px;
    padding-top: 53px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 29px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 55px;

    &--materials {
      order: -2;
      padding-right: 130px;

      &::before {
        left: 9px;
      }
    }

    &--style {
      order: -1;
      padding-right: 80px;

      &::before {
        top: 3px;
      }
    }

    &--handmade {
      order: -2;
      padding-right: 80px;

      &::before {
        top: 4px;
      }
    }

    &--support {
      order: -1;

      &::before {
        top: 6px;
        left: -5px;
      }
    }

    &--likes,
    &--packaging {
      padding-top: 57px;
      padding-right: 100px;

      &::before {
        top: 9px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding: 0 220px;
    margin-top: 30px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item--materials {
    padding-left: 5px;

    &::before {
      left: 13px;
    }
  }

  .about-us__item--style {
    padding-left: 5px;
    padding-right: 86px;

    &::before {
      left: 7px;
    }
  }

  .about-us__item--likes {
    padding-left: 5px;
    padding-right: 108px;

    &::before {
      top: 5px;
      left: 14px;
    }
  }
}
