.catalog {
  padding: 0 30px;
  padding-top: 30px;
}

.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 30px 50px 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 94px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;
  }
}
