.catalog__item {
  margin-bottom: 30px;
  border: 1px solid #ececec;
}

.catalog-item__image {
  background-color: #e5e5e7;
  width: 260px;
  height: 195px;
}

.catalog-item__wrap {
  padding: 0 28px;
}

.catalog-item__title {
  margin-top: 25px;
  margin-bottom: 0;
  text-align: left;
  font-size: 17px;
  line-height: 24px;

  &-link {
    word-wrap: break-word;
  }
}

.catalog-item__description {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  word-wrap: break-word;
}

.catalog-item__purchase-wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 5px;
  margin-bottom: 13px;
  border-top: 1px solid #ececec;
}

.catalog-item__price {
  width: 100px;
  margin-right: auto;
  font-size: 15px;
  line-height: 24px;
  word-wrap: break-word;
}

.catalog-item__basket-icon {
  position: absolute;
  top: 22px;
  right: 0;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 52px;
  }

  .catalog-item__image {
    width: 334px;
    height: 334px;
  }

  .catalog-item__wrap {
    width: 50%;
  }

  .catalog-item__title {
    width: 230px;
    font-size: 20px;
  }

  .catalog-item__description {
    font-size: 15px;
  }

  .catalog-item__info-top {
    margin-bottom: 175px;

    &--toy {
      margin-bottom: 151px;
    }
  }

  .catalog-item__purchase-wrapper {
    margin-bottom: 8px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    display: block;
    border-top: none;
    width: 316px;
  }

  .catalog-item__image {
    width: 316px;
    height: 462px;
  }

  .catalog-item__wrap {
    width: 100%;
  }

  .catalog-item__description {
    margin-bottom: 0;
  }

  .catalog-item__info-top {
    margin-bottom: 40px;

    &--toy {
      margin-bottom: 15px;
    }
  }

  .catalog-item__title {
    margin-top: 26px;
  }
}
