.categories {
  background-color: #fbfbfb;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 19px;
  line-height: 24px;
}

.categories__list {
  @include list-reset;
}

.categories__item {
  position: relative;
  background-color: #63d1bb;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    background-image: url("../img/icon-interior.svg");
    width: 40px;
    height: 62px;
    opacity: 0.5;
  }

  &--darker::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;
    background-image: url("../img/icon-toy.svg");
    width: 60px;
    height: 60px;
    opacity: 0.5;
  }

  &--darker {
    background-color: #56c3b2;
  }
}

.categories__link {
  display: block;
  width: 130px;
  padding: 34px 30px 34px 30px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .categories {
    min-height: 570px;
    background-image: url("../../img/hero-tablet@1x.jpg");
  }

  .categories__list {
    display: flex;
    width: 100%;
  }

  .categories__item {
    margin-top: 365px;
    flex-grow: 1;

    &::after {
      content: "";
      position: absolute;
      top: 100px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: 119px;
      opacity: 0.5;
    }
  }
}
