.contacts {
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__details {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.contacts__write {
  font-size: 18px;
}
