.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.copyright__link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 23px;

  &:hover .copyright__icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  width: 135px;
  margin-left: 37px;
  word-wrap: break-word;
  font-size: 19px;
}

.copyright__icon {
  margin-left: 22px;
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-top: 35px;
  }
}
