.main-nav {
  margin: 0;
  line-height: 24px;
}

.main-nav__toggle-btn {
  position: absolute;
  top: 30px;
  right: 45px;
  width: 21px;
  height: 21px;
  background: url("../img/icon-menu-close.svg") no-repeat #ffffff;
  border: none;
}

.main-nav__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle-btn {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
