.modal {
  width: 320px;
  min-height: 336px;
  margin: 0 auto;
  padding: 33px 30px 46px 30px;
  text-align: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 5px 10px 10px #ececec;
}

.modal__title {
  width: 148px;
  margin: 0 auto;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__form-group {
  padding: 0;
  border: none;
}

.modal__form-legend {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  text-align: center;
}

.modal__form__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal__label {
  display: block;
  width: 76px;
  padding: 20px 0;
  color: #444444;
  border: 2px solid #ececec;

  &--active {
    border: 2px solid #63d1bb;
  }
}

.modal__submit {
  margin: 0 auto;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
    padding: 0 108px;
    margin-bottom: 10px;
  }

  .modal__title {
    width: 360px;
    margin-top: 50px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__form-group {
    width: 350px;
    margin: 0;
    padding: 0;
  }

  .modal__form-legend {
    font-size: 17px;
  }

  .modal__label {
    width: 112px;
    padding: 18px;
  }

  .modal__submit {
    width: 350px;
    margin-bottom: 46px;
  }
}
