.modal {
  padding: 0 30px;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.modal__form-legend {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal__label {
  line-height: 16px;
  font-weight: bold;
  color: #444444;
}
