.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
}

.modal__show {
  display: block;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 160;
  background-color: #ffffff;
  opacity: 0.9;
}

.modal__form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  width: 320px;
  padding: 30px;
  padding-bottom: 46px;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal__title {
  width: 148px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__form-group {
  padding: 0;
  margin: 0 auto;
  border: none;
}

.modal__form-legend {
  margin-bottom: 21px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  text-align: center;
}

.modal__form-field-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__label {
  display: block;
  width: 82px;
  padding: 15px 30px;
  margin-bottom: 31px;
  color: #444444;
  border: 2px solid #ececec;
  cursor: pointer;

  &:hover {
    border-color: #c7c7c7;
  }
}

.modal__input:checked + .modal__label {
  border-color: #63d1bb;
}

.modal__submit {
  margin: 0 auto;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal__form {
    width: 566px;
    padding: 46px 108px;
  }

  .modal__title {
    width: 360px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__form-group {
    width: 350px;
    padding: 0;
  }

  .modal__form-legend {
    font-size: 17px;
  }

  .modal__label {
    width: 112px;
    padding: 18px 50px;
  }

  .modal__submit {
    width: 350px;
    margin-bottom: 46px;
  }
}
