.order-form {
  line-height: 18px;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.order-form__group {
  border: none;
  padding: 30px 30px;
}

.order-form__legend {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.order-form__label {
  display: block;
  position: relative;
  width: 260px;
  text-align: left;
  padding: 20px 0 0 70px;
  margin-bottom: 20px;
}

.order-form__input {
  width: 100%;
}

.order-form__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}

.order-form__field-wrapper input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #444444;
}

.order-form__field-wrapper input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63d1bb;
}

.order-form__field-wrapper input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #444444;
}

.order-form__field-wrapper input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 10px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

.order-form__input--placeholder-style,
.order-form__comment--placeholder-style {
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
}

.order-form__name-input--placeholder-style-tel {
  font-size: 19px;
  line-height: 18px;
  font-weight: normal;
}

.order-form__required-fields {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
}

.order-form__order-btn {
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order-form__group-layout-wrap {
    display: flex;
  }

  .order-form__group {
    display: flex;
  }

  .order-form__label {
    width: 170px;
  }

  .order-form__field-wrapper {
    width: 500px;
  }

  .order-form__required-fields {
    float: right;
  }
}
