.order-form__description {
  padding: 0 30px;
  margin-top: 21px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.order-form__group {
  padding: 0 30px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 41px;
  border: none;

  &--name {
    margin-top: -9px;
  }

  &--tel {
    margin-top: -11px;
  }

  &--email {
    margin-top: -12px;
  }

  &--comment {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.order-form__legend {
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }

  &--email::after {
    width: 179px;
    left: 80px;
  }
}

.order-form__label {
  position: relative;
  margin-top: 31px;
  padding-left: 62px;
  text-align: left;

  &--toy {
    margin-top: 20px;
  }

  &--color {
    margin-top: 33px;
    margin-bottom: 8px;
  }

  &--name {
    padding: 0;
    margin-top: 28px;
  }

  &--surname {
    padding: 0;
    margin-top: 21px;
    margin-bottom: 7px;
  }

  &--patronimic {
    padding: 0;
    margin-top: 21px;
  }
}

.order-form__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;

  &--color {
    width: 173px;
  }
}

.order-form__field-wrapper input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #444444;
}

.order-form__field-wrapper input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63d1bb;
}

.order-form__field-wrapper input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 1px;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
}

.order-form__field-wrapper input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 15px;
  width: 10px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

.order-form__group-layout-wrap--icon {
  position: relative;
}

.order-form__icon {
  position: absolute;

  &--phone {
    width: 25px;
    height: 24px;
    right: 6px;
    bottom: 16px;
  }

  &--email {
    right: 5px;
    bottom: 9px;
  }
}

.order-form__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #000000;

  &--surname {
    padding-top: 10px;
  }

  &--tel {
    padding-top: 20px;
    padding-bottom: 17px;
  }

  &--email {
    padding-top: 22px;
  }
}

.order-form__comment {
  width: 100%;
  margin-top: 22px;
  padding-top: 13px;
  padding-left: 15px;
  border: 2px solid #444444;
}

.order-form__input--placeholder-style,
.order-form__comment--placeholder-style {
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
}

.order-form__required-fields {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
}

.order-form__order-btn {
  margin: 0 auto;
  padding-bottom: 17px;
  line-height: 16px;
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .order-form__group-layout-wrap {
    display: flex;
  }

  .order-form__description {
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__legend {
    width: 170px;
  }

  .order-form__input,
  .order-form__comment {
    width: 100%;
  }

  .order-form__required-fields {
    float: right;
  }
}


@media (min-width: $desktop-width) {
  .order-form {
    padding: 0 50px;
  }

  .order-form__input {
    width: 50%;
  }
}
