.page-main {
  width: 320px;
}

.page-main__title {
  padding-top: 76px;
  padding-bottom: 155px;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  text-align: center;
}

.page-main__title--catalog {
  color: #000000;
}

.page-main__title--form {
  color: #231f20;
}

@media (min-width: $tablet-width) {
  .page-main {
    min-width: $tablet-width;
    padding: 0 50px;
  }

  .page-main__title {
    width: 380px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    min-width: $desktop-width;
    padding: 0 100px;
  }
}
