.page-header {
  display: flex;
  flex-direction: column;
  z-index: 11;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  margin: 22px 2px 22px 0;
}

.page-header__logo-img {
  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    border-bottom: none;
  }

  .page-header__logo {
    width: 316px;
    padding-left: 50px;
  }


  .page-header__logo-img {
    margin: 0;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__logo-img {
    width: 149px;
    height: 72px;
  }
}
