.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__title-wrapper {
  background-color: #f1f1f1;
}

.page-main__title {
  margin: 0;
  padding: 67px 30px 123px 30px;
  font-size: 27px;
  line-height: 30px;
  color: #010000;

  &--catalog {
    padding-bottom: 78px;
    padding-left: 40px;
    color: #000000;
  }

  &--form {
    color: #231f20;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
    margin-top: -63px;
    border-top: 1px solid #ececec;
  }

  .page-main__title {
    margin-bottom: 83px;
    padding-top: 130px;
    padding-bottom: 77px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
    margin-top: -43px;
    background-color: #f9f9f9;
  }

  .page-main__title {
    padding-top: 130px;
    padding-left: 135px;
    font-size: 53px;
    line-height: 57px;
  }
}
