.recommendation-table {
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  font-weight: normal;
  color: #444444;
}

.recommendation-table__value,
.recommendation-table__field {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.recommendation-table__field {
  padding-left: 40px;
}
