.recommendation {
  padding: 0 30px;
  padding-bottom: 40px;
  margin-bottom: 29px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 6px;
}

.recommendation__title {
  padding-top: 2px;
  font-size: 25px;
  line-height: 30px;
}

.recommendation__type {
  margin-top: -15px;
  color: #63d1bb;
  text-transform: uppercase;
}

.recommendation__description {
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.recommendation__text {
  padding-top: 5px;
}

.recommendation__image {
  width: 260px;
  height: 315px;
  margin-bottom: 24px;
  background-color: #f1f1f1;
}

.recommendation__price {
  margin-bottom: 25px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .recommendation {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 50px;
    padding-bottom: 40px;
    margin-bottom: 0;
    background-size: auto 15px;
  }

  .recommendation__header {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .recommendation__title {
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .recommendation__type {
    width: 110px;
    margin-left: 50px;
    padding-top: 40px;
    text-align: center;
  }

  .recommendation__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .recommendation__text {
    width: 290px;
    margin-top: -8px;
    margin-bottom: 37px;
    font-size: 17px;
    line-height: 30px;
  }

  .recommendation__table {
    width: 290px;
    line-height: 20px;
  }

  .recommendation__image {
    width: 333px;
    height: 404px;
  }

  .recommendation__footer {
    position: absolute;
    bottom: 22px;
    width: 290px;
  }

  .recommendation__price {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .recommendation__header {
    flex-direction: row-reverse;
  }

  .recommendation__title {
    width: 525px;
    margin-right: 350px;
    z-index: 3;
    font-size: 53px;
    line-height: 57px;
  }

  .recommendation__type {
    margin: 0 auto;
  }

  .recommendation__content {
    padding-left: 175px;
  }

  .recommendation__image {
    display: inline-block;
    width: 525px;
    height: 636px;
    margin-top: -125px;
  }

  .recommendation__order {
    font-size: 20px;
    line-height: 24px;
  }
}
