.recommendation-table {
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  color: #444444;
  border-collapse: collapse;
}

.recommendation-table__value,
.recommendation-table__field {
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
}

.recommendation-table__field {
  width: 97px;
}
