.reviews {
  padding: 0 30px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.reviews__author {
  line-height: 24px;
}

.reviews__nickname {
  line-height: 30px;
  color: #444444;
}

.reviews__write {
  font-size: 18px;
}
