.site-list__item {
  padding: 28px 0;
  padding-left: 75px;
  text-align: left;
  border-top: 1px solid #ececec;
}

.site-list__link {
  display: block;
  width: 200px;
  word-wrap: break-word;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
    width: 354px;
    padding-left: 50px;
  }

  .site-list__link {
    width: 100%;
  }

  .site-list__item {
    padding: 14px 0;
    font-size: 15px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
    width: 375px;
    padding: 0;
    margin-left: 50px;
    margin-right: auto;
  }

  .site-list__item {
    padding: 30px 0;
    padding-bottom: 34px;
    word-wrap: break-word;

    &--catalog {
      width: 184px;
      border-right: 1px solid #ececec;
    }

    &--knitting {
      width: 191px;
    }
  }

  .site-list__link {
    font-size: 17px;

    &--knitting {
      text-align: right;
    }
  }
}
