.special-list__item {
  display: none;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .special-list {
    order: 3;
    padding-top: 20px;
    font-size: 15px;

    &__item--delivery {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .special-list__item {
    display: block;
  }

  .special-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
