.special-list__item {
  display: none;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .special-list {
    order: 3;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 15px;

    &__item--delivery {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .special-list {
    padding-top: 17px;
  }

  .special-list__item {
    display: block;
    width: 160px;
    font-weight: bold;

    &--sale {
      margin-left: 60px;
      margin-right: 435px;
    }

    &--delivery {
      width: 235px;
      font-weight: normal;
    }
  }

  .special-list__link:hover,
  .special-list__link:focus {
    opacity: 0.6;
  }

  .special-list__link:active {
    opacity: 0.3;
  }
}
