.special-list__item {
  display: none;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .special-list {
    width: 414px;
    padding-right: 50px;
    order: 3;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 14px;
    font-size: 15px;
    border-top: 1px solid #ececec;
  }

  .special-list__item--delivery {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .special-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0 50px;
    padding-top: 17px;
    background-color: #f1f1f1;

    &--index {
      background-color: #f9f9f9;
    }
  }

  .special-list__item {
    display: block;
    word-wrap: break-word;
    font-weight: bold;

    &--new {
      width: 220px;
    }

    &--sale {
      width: 220px;
    }

    &--delivery {
      margin-left: auto;
      width: 235px;
      font-weight: normal;
      text-align: right;
    }
  }

  .special-list__link:hover,
  .special-list__link:focus {
    opacity: 0.6;
  }

  .special-list__link:active {
    opacity: 0.3;
  }
}
