.user-list__item {
  position: relative;
  padding: 28px 0;
  padding-left: 75px;
  text-align: left;
  border-top: 1px solid #ececec;

  &--search,
  &--basket {
    position: relative;
  }

  &--basket {
    border-bottom: 1px solid #ececec;
  }
}

.user-list__search-icon,
.user-list__basket-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 18px;
  height: 18px;
  opacity: 0.2;
}

.user-list__basket-icon {
  width: 21px;
}

@media (min-width: $tablet-width) {
  .user-list {
    width: 347px;
    order: 1;
    margin-left: auto;
    padding-top: 2px;

    &__item {
      padding-bottom: 31px;

      &--search {
        padding-left: 80px;
      }
    }

    &__search-icon {
      top: 33px;
    }

    &__basket-icon {
      top: 33px;
      left: 24px;
    }
  }

  .user-list__item {
    border: none;

    &--search {
      font-size: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }
}
