.user-list__item {
  position: relative;
  padding: 28px 0;
  padding-left: 75px;
  text-align: left;
  border-top: 1px solid #ececec;

  &--search {
    position: relative;
  }

  &--basket {
    position: relative;
    border-bottom: 1px solid #ececec;
  }
}

.user-list__link {
  display: block;
  width: 200px;
  word-wrap: break-word;
}

.user-list__search-icon,
.user-list__basket-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 18px;
  height: 18px;
  opacity: 0.2;
}

.user-list__basket-icon {
  width: 21px;
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-wrap: wrap;
    width: 350px;
    order: 1;
    margin-left: auto;
    padding-top: 2px;

    &__link {
      width: auto;
      padding-top: 28px;
    }

    &__search-icon {
      top: 33px;
      left: 35px;
    }

    &__basket-icon {
      top: 33px;
      left: -52px;
    }
  }

  .user-list__item {
    padding: 0;
    padding-bottom: 31px;
    border: none;

    &--search {
      width: 85px;
      font-size: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 50%;
    margin: 0;

    &__basket-icon {
      top: 33px;
      left: -55px;
    }
  }

  .user-list__item--search {
    margin-left: 174px;
  }
}
