.video-post__title {
  line-height: 24px;
}

.video-post__image {
  background-color: #f8f8f8;
  weight: 260px;
  height: 150px;
}

.video-post__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.video-post__btn-order {
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .video-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .video-post__image {
    order: -1;
    width: 100%;
    min-height: 450px;
  }

  .video-post__btn-order {
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .video-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .video-post__image {
    width: 700px;
  }

  .vidio-post__info,
  .video-post__btn-order {
    width: 350px;
  }
}
