.video-post__title {
  line-height: 24px;
}

.video-post__image {
  background-color: #f8f8f8;
  weight: 260px;
  height: 150px;
}

.video-post__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.video-post__btn-order {
  font-size: 17px;
  line-height: 16px;
}
